[2020-12-13 22:52] dejo1307 opened #9 "Offering ID in was-nd-install should be the variable, not hardcoded"
See https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/54e88d4a969d04c4124cf5538219bba4e06855e7/roles/third_party/ibm/wasnd/was-nd-install/templates/was_nd.rsp.j2#L15

[2020-12-15 16:16] dejo1307 opened #11 "Add /push/ configuration customizer.conf in Nginx"
Add what is mentioned here: https://help.hcltechsw.com/connections/v7/admin/install/inst_post_nginx.html?hl=nginx to customizer.conf

Level of done:
- Performance test it before merging it
- Add findings to the sizing document

[2020-12-22 15:54] stoeps13 opened #16 "SDI Fixpack not installed"
SDI Fixpack is listed in the needed software package list, but it is nowhere deployed.

[2020-12-22 16:30] stoeps13 opened #17 "Installation needs root access?"
When I check the `become `statements which don't point to a `become_user`, I assume the setup needs a `root` user?

[2020-12-23 08:33] dejo1307 commented on #17
Yes, that's true. Check the playbook for particular section, most of them do have become set to yes in playbooks already, which defines then what it expects in tasks.

[2020-12-23 08:37] dejo1307 commented on #16
Good point. Let me check if our package is actually already patched (hence FP not installed after it) or not. I don't remember anymore what was exactly the case when we added this part of automation.

[2020-12-23 08:39] dejo1307 commented on #16
And another thing I need to check (a note to myself) are exact support version matrices for CNX and SDI.

[2020-12-30 11:46] stoeps13 commented on #17
I don't think become is enough here, because additionally all checks for installed software needs to be changed to <home of install user>/var/ibm

[2021-01-05 08:14] dejo1307 commented on #16
I'm pulling this into the current sprint today, started working on it yesterday. My ETA is end of this week, worst case beginning of the next with all the testings.

[2021-01-05 09:26] stoeps13 opened #22 "Playbook does not stop when package for unarchive is not available"
The usage of unarchive with http seems not to fail when a package is not available, it fails several steps later, when the setup wants to access one of the unarchived files.

Can we create a role which testss all used packages if they are available on the http server? Any idea how to do this without downloading the files?

[2021-01-05 09:42] dejo1307 commented on #22
Yes, it is possible to fix it (I would say it is probably unintentionally ignored).

Which specific step/package is here the case? I can take a look now.

[2021-01-05 09:55] stoeps13 commented on #22
I had this on different steps, because I used the Flexnet filenames and haven't checked everything. So each time the unarchive is used, it tries to download and unarchive. When this fails because a file is missing, the playbook goes ahead to the next task.

That's an issue on two sides. First it should already fail when it can't unarchive, that would be easier to troubleshoot and second the failur

[2021-01-05 10:43] dejo1307 commented on #22
Ah, got it. Actually yes, can be a two step process (initially it was), to use get_url module to download the file and then to extract the file; in that case, if file can not be downloaded, it fails on spot.

Let me try to figure out if I can use assert here to check if files exist on destination, that would make probably most sense (like: don't try to install for example TDI if TDI files can not

[2021-01-05 10:46] dejo1307 commented on #22
And thinking more about this, I guess I can use uri module for asserts to accomplish exactly this. Looking into it now.

[2021-01-05 11:31] stoeps13 commented on #22
Btw when you already investigating this. It seems the unarchive process is not idempotent, it downloads and extracts the packages on each run.

[2021-01-08 12:14] dejo1307 commented on #16
This will be merged as a part of https://github.com/HCL-TECH-SOFTWARE/connections-automation/pull/32

[2021-01-11 16:22] #16 closed

[2021-02-28 17:16] stoeps13 opened #70 "Add variable for database selection"
Hi,

in the actual version the playbook setup_database.yml installs both database systems (DB2 and Oracle)! So a variable to select the used database would help.

Keep up the great work.

Regards
Christoph

[2021-02-28 22:39] dejo1307 commented on #70
Hey @stoeps13 - I intentionally didn't add it - because yes, that playbook will install actually the one which is defined in inventory file - if you define oracle_servers, it will be Oracle, db2_servers for DB2, check out how modules are implemented (and same is coming for MSSQL as well).
I just tried to create one variable less; however, there are different playbooks for db2 and/or oracle, and it

[2021-03-01 04:14] stoeps13 commented on #70
I used the default install_connections playbook, which includes install_database.yml. I have no oracle_servers in inventory and it starts downloading oracle. (Which is not in the downloads). So something is missing, but Ii haven't looked into it to be honest. Just changed the playbook to include only DB2.

[2021-03-01 08:05] dejo1307 commented on #70
Got you, that's definitely the bug. Let me check it out, I think I know where that one comes from.

[2021-03-01 08:33] stoeps13 commented on #70
I rerun the playbook multiple times and it downloads for example the db2 installer on each run and extract it.

I can understand this to fix errors, but from an idempotent approach, it needs a lot of time and changes files which are already applied (repsonse files).

[2021-03-01 08:33] #70 closed

[2021-04-15 00:12] andylwelch opened #104 "ingress-nginx-3.9.0.tgz does not exist in CP7.0"
Deploying CP7.0 fails because file download task fails as it does not exist in the extracted CP7.0 zip

![image](https://user-images.githubusercontent.com/7505965/114795888-01df3e00-9dd3-11eb-9e6e-5fbf73573934.png)

For any others who encounter this issue, perhaps try the following URL:
https://github.com/kubernetes/ingress-nginx/releases/download/ingress-nginx-3.9.0/ingress-nginx-3.9.0.tgz

[2021-04-15 11:26] dejo1307 commented on #104
Hi Andy,

Thanks a lot, will be fixed in the next push.

Really appreciated,
Dejan

[2021-05-17 14:30] stoeps13 opened #114 "Login with Chrome not possible"
All chromebased browsers do not allow login. I found this line in `httpd.conf` as reason:

`# Teams SameSite Fix`
`Header edit Set-Cookie ^(.*)$ "$1; SameSite=None"`

If I comment this out, the login works without problems. Chrome rejects cookies with Samesite=None since version 80 by default! https://www.chromestatus.com/feature/5633521622188032

[2021-05-17 14:38] dejo1307 commented on #114
Hey Christoph,

Thanks a lot, already talking to people about this. It was added back in September as a requirement at that time for Teams integration, but let me see if it can be removed (I guess it should at least).

[2021-05-18 14:25] dejo1307 commented on #114
Fix is part of https://github.com/HCL-TECH-SOFTWARE/connections-automation/releases/tag/0.4.1.

The config was introduced during RnD of CNX 7 in September, and is worked around during one of the steps in post install playbook, but commenting it out will definitely make it less confusing for everyone.

Thanks a lot for pointing this out.

[2021-05-18 14:25] #114 closed, assigned to nobody

[2021-05-19 06:04] andylwelch opened #118 "Ansible task to 'pause' doesn't always wait long enough, or waits when it is not needed"
There are several places (33) in the ansible tasks which wait an arbitrary amount of time for the `helm upgrade/install` command to complete. This is inefficient and not always long enough.

For example:
![image](https://user-images.githubusercontent.com/7505965/118763453-3efb8c00-b8bb-11eb-8a67-17e0c0458ebd.png)

![image](https://user-images.githubusercontent.com/7505965/118763513-533f8900-b8bb-1

[2021-05-19 06:09] andylwelch opened #119 "Extraction folder always deleted, CP re-downloaded and re-unzipped"
Sometimes you need to run the ansible task a few times to get things right. At the moment the Component Pack is always deleted at the start, re-downloaded, and re-unzipped.

Could we please have a variable to disable these tasks in order for us to re-use the existing valid files that we already have?

[2021-05-19 07:04] dejo1307 commented on #119
Hi Andrew,

I think this is already solved.

Check this out: https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/10bc3447bf802622be471bf92fb87bd7a87d0968/environments/examples/cnx7/db2/group_vars/all.yml#L80-L81

Add setup_installation: false and it will skip downloading, unzipping, cleaning, etc. Add setup_images: false and it will skip trying to reupload images and wasting time on t

[2021-05-19 07:05] dejo1307 commented on #118
Hi Andrew,

This was added just yesterday with the latest release. Can you check and confirm? (I added it myself).

[2021-05-19 23:44] andylwelch commented on #118
Thanks @dejo1307
I see you recently removed a redundant pause in `setup_customizer.yml`, fantastic. I also see that a lot of the pauses are waiting for `was/dmgr` etc and are necessary.

There are a few more places that could be changed. For example:
[setup_elasticsearch.yml line 22](https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/main/roles/hcl/component-pack/tasks/setup_elastics

[2021-05-20 00:28] andylwelch commented on #119
Thanks for the reply. Yes, those variables should do the job.

[2021-05-20 00:28] #119 closed

[2021-05-20 07:38] dejo1307 commented on #118
It's funny that I thought that --wait was Helm v3 specific, and I just checked the docs and it's not.

It makes sense, let me add it, test it, and will merge it here as soon as we test it internally.

Good point about other stuff mentioned above - someone probably forgot to add it as it is pre 7 stuff (minus ELK Stack 7) but will add that all together.

For PVs and configmaps I don't think we need

[2021-05-21 14:31] dejo1307 commented on #118
Hey @andylwelch,

I've just created new release which contains these fixes as well.

Do you also mind adding yourself in https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/main/AUTHORS (just create PR and I will approve it).

Thanks a lot,
Dejan

[2021-08-30 10:02] Praveenk89 opened #135 "Oracle DB error while installing the HCL connections on RHEL 8"
Hello Team,

We're having trouble installing HCL Connections 7.0 with Ansible on RHEL 8. We already have Oracle DB19, so we created all Connections DB on the server to avoid installing the Oracle server; instead, we are simply passing Oracle DB information in ansible script, but we are receiving the following Oracle DB error.

We have two servers, one for HCL Connections 7./HCL Docs and the other

[2021-08-30 10:39] stoeps13 commented on #135
Have you defined a database server?

[code]
Looks like you haven't. I think you need to edit the scripts so that the client stuff and so on for DB access is generated, but the database creation step get skipped.

Check the code!
[code]
means that when the variable `migration_already_done` exists will skip the database creation step, but there are more tasks which drop tables and databases too. So

[2021-08-30 12:59] Praveenk89 opened #136 "Connections 7 errors"
Hello Team,

We installed Connections 7.0 using Ansible on RHEL 8, but when we tried to access the Connections URL, we received the error "Check that the Common EAR is installed and running correctly." We then checked the Connections applications, and some were not running. We tried to start them manually, but nothing worked. So we finally checked the connection logs and discovered the following e

[2021-08-30 13:09] stoeps13 commented on #136
It seems your databases are not working correctly. Have you checked if Websphere can access the databases? (Open ISC and check in Resources > Datasource > Test connection)

There seems to be a problem with the JDK the JVMCFRE003 is a problem that the oracle driver is built with a different java version.

Which Websphere Version and Fixpack do you use?

Last point: RHEL 8 is officially not supporte

[2021-08-30 13:24] Praveenk89 commented on #136
------------------------------------------------------------
Hello Christoph,

Thank you for your assistance.
The WebSphere and Java details are listed below.
Name                  IBM WebSphere Application Server Network Deployment
Version               8.5.5.19
Build Level           cf192103.03
Name                  IBM WebSphere SDK Java Technology Edition (Optional)
Version               8.0.6

[2021-08-30 13:25] stoeps13 commented on #136
Please check if Websphere ISC can access the database

[2021-08-30 13:31] Praveenk89 commented on #136
Hello Christoph,

Thank you for your assistance. I have checked the database connection test using WebSphere but got the following error.
The test connection operation failed for data source metrics on server dmgr at node devapps-dmgr with the following exception: java.sql.SQLException: java.lang.UnsupportedClassVersionError: JVMCFRE003 bad major version; class=oracle/jdbc/pool/OracleConnectionPoo

[2021-08-31 06:53] Praveenk89 commented on #136
Hello Christoph,

Thank you for your assistance. I have checked the database connection test using WebSphere but got the following error.
The test connection operation failed for data source metrics on server dmgr at node devapps-dmgr with the following exception: java.sql.SQLException: java.lang.UnsupportedClassVersionError: JVMCFRE003 bad major version; class=oracle/jdbc/pool/OracleConnectionPoo

[2021-08-31 06:54] Praveenk89 commented on #136
Hello Christoph,

Thank you for your assistance. I have checked the database connection test using WebSphere but got the following error.
The test connection operation failed for data source metrics on server dmgr at node devapps-dmgr with the following exception: java.sql.SQLException: java.lang.UnsupportedClassVersionError: JVMCFRE003 bad major version; class=oracle/jdbc/pool/OracleConnectionPoo

[2021-08-31 07:04] stoeps13 commented on #136
https://bfy.tw/RYoy

You need some WebSphere knowledge to dig into this. This project will not work if you never had contact with WebSphere or Connections.

[2021-08-31 11:40] Praveenk89 opened #137 "Connections 7 iFix installation"
Hello,

We successfully installed HCL Connections 7.0 using Ansible on a RHEL machine, but when we try to install Connections iFix using Ansible, the process gets stuck at the following stage. I've waited at least an hour, but the installation process is still stalled. We also checked the Connections logs, but only the Connections cluster stopped showing up in the logs, and nothing else was gettin

[2021-08-31 11:41] #135 closed

[2021-08-31 11:41] #136 closed

[2021-08-31 13:41] bmustan commented on #136
When you configure metrics, you will be using elastic search (component pack) not the database. The use of DB to do metrics is no longer supported.

[2021-09-01 12:29] Praveenk89 opened #138 "Upgrade TDI jre error"
Hello,

I'm trying to upgrade the TDI 7.2 jre using Ansible on RHEL machine but getting the following error on the screen.

failed: [devapps.test.com] (item=ojdbc8.jar) => {"ansible_loop_var": "item", "changed": false, "checksum_dest": null, "checksum_src": "967c0b1a2d5b1435324de34a9b8018d294f8f47b", "dest": "/opt/IBM/TDI/V7.20/jvm/jre/lib/ext", "elapsed": 0, "item": "ojdbc8.jar", "msg": "Destinat

[2021-09-03 09:26] Praveenk89 opened #140 "HCL Docs installation error"
Hello,

I'm attempting to install HCL Docs on a Linux machine using an Ansible script, but I'm getting the following error message.

TASK [setup-environment : Mount "{{ __docs_editor_files_dest }}" "to" "{{ __docs_data_local_path }}"] ******************************************************************
fatal: [devapps.test.com]: FAILED! => {"msg": "The task includes an option with an undefined varia

[2021-09-07 08:27] nitinjagjivan commented on #137
Hi PK,
I tried installing Connections iFix using Ansible on CentOS7 and it installed successfully. It took around 25 minutes at **TASK [ifix : Run the iFix install for CFix.70.2106]** and moved to the next step:

_TASK [ifix : Add +x to updateInstaller] ***************************************************************************
changed: [devapps.test.com]

TASK [ifix : Download the iFixes CFix.70.

[2021-09-10 14:55] stoeps13 commented on #137
Hi,
the question points to

`ifix_apar:                                       LO100079`

which is superseeded. Since this week you can install CFix.70.2108 and for CP there is another fixpack available.

The example variables still point to the old fix name. It would be great if HCL can create an example variables file with the latest fixes and filenames. Just the absolute minimum to get Connectio

[2021-09-10 15:30] stoeps13 commented on #140
It seems to break here: https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/9780d52b7c88766d953e098f6def7388eb7d7372/roles/hcl/docs/setup-environment/tasks/mount_docs_nfs_shares.yml#L18

As the first two tasks in that file should create the NFS share folder, it already had a problem there. Run the task manually and check what happens.

[2021-09-13 06:36] ukhare commented on #138
@Praveenk89 Could you please confirm that "devapps.test.com" is the DB server on which existing TDI is installed ?

If yes then to crosscheck if TDI is properly installed on this server then paths "opt/IBM/TDI/V7.20" and "/opt/IBM/TDI/V7.20/jvm/jre/lib/ext" should exist on the respective VM where TDI is installed.

[2021-09-13 06:50] ukhare commented on #118
@andylwelch I believe this issue has been fixed, if so could you please close it ?

[2021-09-13 10:25] rishablearn opened #141 "Quickstart Guide - If Connections is already installed"
### Discussed in https://github.com/HCL-TECH-SOFTWARE/connections-automation/discussions/134

<div type='discussions-op-text'>

<sup>Originally posted by **rishablearn** August 27, 2021</sup>
Hi,

I have a running Connections 7 install. I would like to install Nginx / HA proxy on a separate node and the component pack on the separate node. Can I do that with the Quick Start Guide will it detect my

[2021-09-13 13:27] nitinjagjivan commented on #137
Today I tried installing LO100079 and it took around an hour to finish. Can you please try installing the latest CFix? LO100079 does not have all ears updated while CFix has. Since what's already in LO100079 is already in CFix hence the name, cumulative fixes. Going forward we can use CFixes.

[2021-09-14 22:50] andylwelch commented on #118
Thanks, I believe this was updated

[2021-09-14 22:50] #118 closed

[2021-09-15 06:11] ukhare commented on #141
@rishablearn You can use ANSIBLE to deploy nginx, haproxy and component pack. Regarding Connections 7 may I know how did you install it manually or using this ANSIBLE framework ? If it was deployed using ANSIBLE then it should be able to detect connections based on entries you have given in your inventory file.

But if it was not installed using ANSIBLE then there can be difference in configuratio

[2021-09-15 18:10] sabrina-yee commented on #140
Hi @Praveenk89, the repo has been updated with a fix.  Please let me know if it addresses the issue you observed.  Thanks.

[2021-09-18 05:07] RajeevISPL commented on #141
The issue is I wish to install only component pack and nginx/haproxy on 2 nodes. I have already setup and configured connections. We do not wish to destroy the connections deployment. What is the way forward for this..Which playbook can be used only to install component pack and proxy

[2021-09-18 09:36] dejo1307 commented on #141
Hey, you can do it. Just to understand your use case - you want to put Nginx and Haproxy to one server, and K8s/CP on another if I got it right?

In general, https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/main/playbooks/third_party/setup-haproxy.yml will set up only Haproxy, https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/main/playbooks/third_party/setup-nginx.ym

[2021-09-21 06:21] stoeps13 opened #144 "Awkward description / naming of Tasks"
The setup-connections-wizards role has some misleading names of tasks, so

https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/497ef1d1c9dfebbf3c96b280d42d00118846e756/roles/hcl/connections-wizards/tasks/setup_connections_wizards.yml#L91 and https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/497ef1d1c9dfebbf3c96b280d42d00118846e756/roles/hcl/connections-wizards/tasks/set

[2021-09-21 07:05] stoeps13 opened #145 "Database tuning DB2"
Hi,
I wondered why the DB2 server acts so weird slow during installation (using 8GB memory and 4 cores), so I found this:

https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/4871474b92333cefdaadfb1a3e48263f216d54a6/roles/third_party/ibm/db2-install/tasks/apply_tunings.yml#L18-L23

MON_HEAP_SZ which is a value in pages of 4kb (so the default of 4096 seems way too high) https://www.ibm

[2021-09-21 08:41] stoeps13 commented on #145
I have to add, that it seems that MON_HEAP_SZ=4096 is the default with DB2 11.1, so no need to set it. In older versions it was automatic.

[2021-09-21 09:29] #145 closed

[2021-09-21 09:29] stoeps13 commented on #145
I will work and test some things, but not worth to discuss in an issue

[2021-09-22 05:30] ukhare commented on #141
@rishablearn I hope you were able to deploy cp, haproxy y nginx as suggested by dejan and your setup is working fine.
If yes, please close this ticket.

[2021-09-22 05:34] ukhare commented on #138
@Praveenk89 could you please confirm if your issue was fixed ?
Kindly close this issue or let us know if you are still getting same error.

[2021-09-22 05:35] ukhare commented on #104
@andylwelch I believe this was ractified too ?
Could you please check and confirm ?

[2021-09-23 09:17] rishablearn opened #146 "None of these shell commands are being executed - Please help urgent"
Hi I have setup ansible and ssh is working without password. All the path variables are also in place. But none of these commands
shell:                      kubectl get namespace | grep {{ __default_namespace }}
from say /home/ansible/connections-automation-main/roles/hcl/component-pack/tasks/configure_credentials.yml
get executed.
I get this error
TASK [component-pack : Check if namespace connec

[2021-09-23 09:19] stoeps13 commented on #146
To run kubectl commands, you have to install kubectl on your machine and copy the .kube/config file, or ssh to your Kubernetes master and run the commands there!

[2021-09-24 11:22] nitinjagjivan commented on #146
Check if kubernetes is setup on your machine. If not run **playbooks/third_party/kubernetes/setup-kubernetes.yml**
Or you can check execution sequence in **playbooks/setup-component-pack-complete.yml**

[2021-09-29 03:47] nitinjagjivan commented on #146
Kindly close this issue or let us know if you are still getting same error.

[2021-09-29 03:52] nitinjagjivan commented on #140
Thanks @sabrina-yee.

Hi @Praveenk89,
Can you please close this issue if above fix addresses the issue you observed.

[2021-09-29 03:54] nitinjagjivan commented on #137
Hi @Praveenk89
Can you please close this issue or please let us know if you are still facing any issues on this.

[2021-09-29 03:56] nitinjagjivan commented on #144
Noted. Thanks for the observations. It will be fixed in the next push.

[2021-10-15 19:52] arnaldovale opened #148 "error in connections post_install_config tasks update_files_config"
in the yml file: connections-automation/roles/hcl/connections/post_install_config/tasks/update_files_config.yml
The script has stopped at this point, returning this error message:

TASK [post_install_config : Is restrict_reader_access__trusted_realms] **********************************************************************************
fatal: [cnx-server.internal.cloudapp.net]: FAILED! => {"msg": "Th

[2021-10-19 13:11] arnaldovale commented on #148
Thank you @sabrina-yee . I'll let you know.

[2021-10-19 13:11] #148 closed, assigned to nobody

[2021-10-27 19:43] arnaldovale opened #152 "Install Kubernetes playbook failing"
When trying to execute the "Install Kubernetes" Playbook, it fails in the task "Setup-master-node" with the error:

ASK [setup-master-node : Initialize master for single node installation] ***************************************************************************************************
fatal: [cpack-server.internal.cloudapp.net]: FAILED! => {"changed": true, "cmd": ["kubeadm", "init", "--config=

[2021-10-29 06:52] stoeps13 opened #153 "Connections 6.5 CR1 install"
Hi,

I had to install a Connections 6.5 environment for iFix testing.

I found that the installation installs a plain 6.5, there is no option to add the CR1 as additional repository to the installation manager or something like this. The playbook just ignores the fix. So even when I enable ifix install and provide the latest ifix from Flexnet, I get the message that the version don't match (clear

[2021-10-31 08:15] stoeps13 opened #154 "Moving forward to modular playbooks and roles with galaxy collections?"
Hi
I'm using Ansible for most of my projects since several years, so I enjoy this repo a lot, but it is hard to include the roles and playbooks into existing projects or add local roles to get specialities of an environment in the code with breaking the option to update (pull) this repository frequently or just building a pull request because of the differences.
Have you ever thought about moving

[2021-10-31 08:23] stoeps13 opened #155 "Hardcoded nfs folders"
Hi

I use one NFS Server for multiple connections test deployments, but there are some issues:

- The /etc/exports file gets overwritten within several playbooks
- there are several parts with hard coded paths: for example https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/c9297a53dab06ea1d822952c4605419251f453f1/roles/hcl/connections/vars/main.yml#L44
- if I don't use the default pa

[2021-11-01 06:29] gyanenduprakash commented on #152
Can you please provide below details
-  Ansible version
- OS details
- K8s version (assuming 1.19.x)
I think you are trying to re install  kubeadm , so port is showing in used as per logs like as below
**[ERROR Port-2379]: Port 2379 is in use**
Please try to reset kubeadm (Command - kubeadm reset) !!

[2021-11-01 11:38] stoeps13 commented on #155
Additionally the nfs roles are using the wrong paths:

`roles/third_party/nfs-install/vars/main.yml:__cnx_data_shared:                   "{{ cnx_shared_area | default('/nfs/data/shared') }}"
roles/third_party/nfs-install/vars/main.yml:__cnx_message_stores:                "{{ cnx_message_store | default('/nfs/data/messageStores') }}"
roles/third_party/nfs-install/vars/main.yml:__docs_data_shared:

[2021-11-01 12:50] gyanenduprakash commented on #154
Thanks for suggestion , we will have discussion with team !!

[2021-11-01 14:41] stoeps13 opened #157 "Please use ansible-lint"
I use Ansible-lint for my playbooks and roles, which brought me to easier maintenance cycles and less errors in the test runs, I checked the connections playbook:

[code]
Lots of the used shell tasks can be rewritten to use the Ansible modules like Kubernetes, Docker, Helm and so on.

Working with the repository with that much warning and violations is really hard.

Regards
Christoph

[2021-11-01 14:59] stoeps13 commented on #157
When I enable yamllinting it gets even worse, because yamllint does not allow multiple whitespaces after colons.

[2021-11-01 15:36] stoeps13 opened #158 "selfregistration-config.xml not valid xml in 6.5"
The Fix for 6.5CR1 can't be deployed, because Installation Manager logs a non-valid xml file: selfregistration-config.xml

In 6.5 the selfregistration-config.xsd does not know about invite-user-type which is set here:

https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/97337e160df324509bbb1398ef83d15e72f59bb4/roles/hcl/connections/post_install_config/tasks/setup_invite_config.yml#L27

[2021-11-01 20:04] sabrina-yee commented on #158
Hi @stoeps13, I just checked a 6.5 CR1 deployment and confirmed `selfregistration-config.xml` is there.  Could you please check the version in `/opt/HCL/Connections/version.txt` that it's 6.5 CR1?   Thanks.

[2021-11-01 20:07] stoeps13 commented on #158
Hi @sabrina-yee
can you deploy 6.5.0.0 and xmllint selfregistration-config.xml please? There is an element invite-user-type which is not valid! Have you installed with the actual repo?
When I deploy 6.5.0.0 and the run Installation Manager to update to 6.5CR1 it fails, because the installer can't valideate selfregistration-config.xml.

[2021-11-01 20:11] sabrina-yee commented on #158
We do not support installing 6.5.0.0.  Having said that, do you have `cnx_enable_invite` in your inventory?  I believe the default is false so it shouldn't run that step.

[2021-11-01 20:19] stoeps13 commented on #158
Even when you install 6.5CR1 this step will break the xmllint.
Can you please check you selfregistration-config.xml and see if invite-user-type is set? If yes, please run:
`xmllint -noout -schema selfregistration-config.xsd selfregistration-config.xml`

I need to test invite with the latest CFix, so why should I remove the variable? What I want to say is, that the connections post tasks create a x

[2021-11-01 20:46] sabrina-yee commented on #158
I see your point, will check with development when we added `invite-user-type` and adjust the `when` accordingly.
The 6.5 example inventory is in https://github.com/HCL-TECH-SOFTWARE/connections-automation/tree/main/environments/examples/cnx6/db2.  The path in documentation will be updated in the next release.

As for deploying 6.5 CR1 in one step, I believe there is a Connections install kit for

[2021-11-01 20:50] stoeps13 commented on #158
Afaik CR1 needs to be added as second repository during deployment of Connections 6.5, I don't think you can just use the CR1 to deploy directly, but will try tomorrow.
The example group_vars file you mention uses the default 6.5 package.

[2021-11-02 05:25] stoeps13 commented on #153
I think that cnx_fixes_files and the default variable are missing in the examples, will add today and try again.

https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/ec8844f6b0002f1e23799facfc36427d11395089/roles/hcl/connections/vars/main.yml#L72

[2021-11-02 05:28] stoeps13 commented on #158
See https://github.com/HCL-TECH-SOFTWARE/connections-automation/issues/153#issuecomment-957112110 the used cnx_fixes_files is missing in all examples.

[2021-11-02 13:52] sabrina-yee commented on #153
@stoeps13 - we're gathering more info from internal team and will make adjustment accordingly.

[2021-11-02 15:03] stoeps13 commented on #158
For your information @sabrina-yee: I have updated the environment to 6.5CR1 and latest CFix! When I add invite-user-type to selfregistration-config.xml it is still invalid, the xsd doesn't know of this attribute.

[2021-11-02 15:39] stoeps13 commented on #158
Created PR https://github.com/HCL-TECH-SOFTWARE/connections-automation/pull/159#issue-771585916 will close this and move further dicussions in the PR.

[2021-11-02 15:39] #158 closed

[2021-11-02 15:39] stoeps13 commented on #153
Created PR with description about howtos and issues https://github.com/HCL-TECH-SOFTWARE/connections-automation/pull/159#issue-771585916

[2021-11-02 15:39] #153 closed

[2021-11-03 08:26] nitinjagjivan commented on #155
Thanks @stoeps13 for your valuable inputs. My observations are as below:

1. For 'The /etc/exports file gets overwritten within several playbooks'
A- The /etc/exports file is updated only when user is configuring NFS master in below file -
roles/third_party/nfs-install/tasks/configure_master.yml

This may happen twice (with same file content unless inventory is updated) - first while installing co

[2021-11-03 08:41] stoeps13 commented on #155
Hi @nitinjagjivan
I worked on this yesterday and created following PR https://github.com/HCL-TECH-SOFTWARE/connections-automation/pull/160

I think the hardcoded nfs and not using remote_path variables were the main issues. With this PR I was able to use custom folders on NFS. Haven't checked multiple environments with one NFS now, but that's not that important for me.
Regards
Christoph

[2021-11-03 09:44] nitinjagjivan commented on #155
Hi @stoeps13,
You are using 'cnx_message_store_remote_path' which is a new variable. Instead we can use an existing variable 'cnx_message_store_nfs' which is used in other tasks as well.
Similarly 'cnx_data_remote_path' is used mostly for Docs installation. So instead we can use an existing variable 'cnx_shared_area_nfs'.

I will raise a PR with all the details discussed above.
Thanks again for hi

[2021-11-03 10:40] stoeps13 commented on #155
I just replaced the hardcoded value with a variablename which looked similar to the others.

If it works feel free to rename it.

[2021-11-04 13:02] stoeps13 opened #164 "Role for epel-release install"
Hi,
I get following error in setup-db2:

[code]
The GPG Key needs to be imported.

So I thought I fix this, but there are several roles which install EPEL, so I have to do this multiple times. I think it would be easier to create a new role for EPEL deployment and include this into the role or playbook where it is needed. Or using this https://github.com/geerlingguy/ansible-role-repo-epel through

[2021-11-04 15:57] stoeps13 commented on #155
I think this is solved, so I close it.

[2021-11-04 15:57] #155 closed

[2021-11-04 16:00] stoeps13 commented on #152
You can add `force_destroy_kubernetes: true` into your group_vars/all.yml file, this will reinstall kubernetes if it is already deployed.

[2021-11-04 18:07] arnaldovale commented on #152
Hi @stoeps13 . I'll try that, but this has also failed since kubernetes wasn't installed. I'll post the results here. Thanks!

[2021-11-04 18:39] sabrina-yee commented on #164
Thanks for bringing this up. I personally prefer a new role for internal reasons.

[2021-11-04 19:30] stoeps13 opened #165 "updateInstaller extraction creates subfolders"
Hi,
I installed 7.0 with latest CFix 2110 today and when I check the updateInstaller folder (tried to check the log) I see this:

[code]

so HCL_Connections_Install/tools/updateInstaller are too much.

I checked the packages HCL_Connections_79_updateInstaller_2104.zip and 2102.zip, both show this folder structure! Should start with updateInstaller, then we can just decompress in /opt/HCL/Connectio

[2021-11-04 19:30] stoeps13 commented on #164
As I prefer a modular approach, I'm fine with using any role from galaxy, but having one special role and not 4 tasks file doing the same is start.

[2021-11-04 19:40] stoeps13 commented on #165
I see in the repo that the updateSilent.sh is called from this path, but it seems weird! The log and /opt/HCL/Connections/version/log tell me the update is installed, but the updateWizard.sh can't uninstall it, it seems it can't find it. So I think it will be a problem with the next update.

[2021-11-04 19:42] sabrina-yee commented on #165
Thanks for the feedback.  The current approach expects the updateInstaller zip and fix jar are separate (https://github.com/HCL-TECH-SOFTWARE/connections-automation#installing-ifix-for-hcl-connections) but as you point they are bundled as one zip.  We'll create an internal ticket to update.

[2021-11-04 19:44] stoeps13 commented on #165
Not sure which update HCL_Connections_70_Update.jar is, but the newest CFix update name is:
CFix.70.2110-IC7.0.0.0-Common-Fix.jar

I tried with all commands, but the updateInstaller does not know that this fix is installed.

[2021-11-04 19:47] stoeps13 commented on #165
The Connections documentation says extract to temp folder and move the files: https://help.hcltechsw.com/connections/v7/admin/migrate/t_im_upgrade.html

[2021-11-04 19:56] sabrina-yee commented on #165
ok, have you tried these settings?
ifix_apar:                                     CFix.70.2110
ifix_file:                                       CFix.70.2110-IC7.0.0.0-Common-Fix.jar   (this jar would need to be in the same dir as `cnx_repository_url`)
cnx_ifix_installer:                        "updateInstaller_2110.zip"         (or whatever the updateInstaller zip is called)

[2021-11-04 19:58] stoeps13 commented on #165
Yes, the installation works, I can see the log files in /opt/HCL/Connections/version/log but when I try to check the installed fixes with updateWizard or updateSilent, or try to uninstall it, the update*.sh tells me that no fix is installed. I think that's related to the wrong folder.

[2021-11-04 20:12] sabrina-yee commented on #165
trying it myself...

[2021-11-04 20:55] sabrina-yee commented on #165
I can reproduce the issue where using the updateWizard it reports there is no fix installed.  It's out of scope of this project but I'll report it to the team.

As you stated it's a directory issue, I moved `/opt/HCL/Connections/updateInstaller/HCL_Connections_Install/tools/updateInstaller` to `/opt/HCL/Connections/updateInstaller2`, running updateWizard from there detects the cfix.

![image](http

[2021-11-04 21:03] stoeps13 commented on #165
So it could be fixed when the updateInstaller is moved to the documented position. I think following the documentation makes sense here.

[2021-11-04 21:53] sabrina-yee commented on #165
We'll address in later release.

[2021-11-04 23:41] #104 closed

[2021-11-04 23:46] #154 closed

[2021-11-10 17:15] arnaldovale commented on #152
Well, its have been tried to reset kubernet and also added the force_destroy_kubernetes parameter.
here's the output for kubeadm reset
![image](https://user-images.githubusercontent.com/67335382/141160151-134aa573-35dc-4928-a3ef-633f5a1acff0.png)

after that, when trying to run the script again, we got this output message:
TASK [taint-all-nodes : Allow pods to run on master in case of single node

[2021-11-10 18:48] sabrina-yee commented on #152
At this point I'd suggest to start installing K8s from scratch by running this playbook first to cleanup first (please backup any data if it must be preserved) `playbooks/hcl/cleanup/cleanup-k8s.yml --tags k8s_cleanup`
After that, run `third_party/kubernetes/setup-kubernetes.yml` again.

[2021-11-10 22:58] arnaldovale commented on #152
Hello,

I ran:

ansible-playbook -i environments/examples/cnx7/quick_start/inventory.ini playbooks/hcl/cleanup/cleanup-k8s.yml --tags k8s_cleanup

After this i got:

PLAY [Cleanup Kubernetes] ***************************************************************************************************************************************************

TASK [Gathering Facts] ************************************

[2021-11-11 04:07] stoeps13 commented on #152
[code]

Is the server name resolvable in the DNS?

[2021-11-11 14:18] gyanenduprakash commented on #152
@arnaldovale can we have entire result for setup the k8s cluster!! ( playbooks/third_party/kubernetes/setup-kubernetes.yml)

[2021-11-11 16:43] arnaldovale commented on #152
Yes.
This server is not on the hosts file of the ansible controller, it´s resolved by DNS server:
![image](https://user-images.githubusercontent.com/67335382/141335774-fdbbc246-074d-4ad0-8b2b-bbe0d4619ddc.png)

[2021-11-11 17:21] arnaldovale commented on #152
Heres the output.
[ansible_issue2.txt](https://github.com/HCL-TECH-SOFTWARE/connections-automation/files/7522139/ansible_issue2.txt)

[2021-11-12 18:24] #140 closed

[2021-11-12 18:24] #138 closed

[2021-11-12 18:24] #137 closed

[2021-11-12 19:45] sabrina-yee commented on #152
I compared your results with mine but didn't find anything usual (except it failed at `Port 10257 is in use` but it's due to the fact that it's a rerun).
A couple more ideas to debug:
1) Run `kubectl -n kube-system get pods` to check if everything is READY 1/1
2) Check if firewall is installed and enabled (`sudo systemctl status firewalld`).  If so, temporarily disable it, run  `playbooks/hcl/clea

[2021-11-16 18:16] arnaldovale commented on #152
Here's the results:
![image](https://user-images.githubusercontent.com/67335382/142042145-87e5c7c3-ae88-4f4b-b8cb-125bfe6e03e2.png)

both Firewall (from ansible controller and kubernetes server) are disable and inactive
![image](https://user-images.githubusercontent.com/67335382/142042408-4be897e4-f812-44e1-a77a-d791e0358700.png)

![image](https://user-images.githubusercontent.com/67335382/1420424

[2021-11-19 04:51] ukhare commented on #152
@arnaldovale
Looking at the first issue you posted in this thread.
It seems the vm on which you are installing K8s already had K8s which was not cleaned properly.

[kubelet.config.k8s.io kubeproxy.config.k8s.io]\nerror execution phase preflight: [preflight] Some fatal errors occurred:\n\t[ERROR Port-6443]: Port 6443 is in use\n\t[ERROR Port-10259]: Port 10259 is in use\n\t[ERROR Port-10257]: Port

[2021-11-22 18:50] arnaldovale commented on #152
Hi @ukhare
Hello,

I followed your recommendations and recreated the Azure VM for component pack.

I tried running "setup-nfs", after "setup-docker" and "setup-kubernets". I got the issue showed in the file "ansible_issue22112021". I tried again and got the issue showed on the file "ansible_issue22112021_2".

Thanks
[ansible_issue22112021.txt](https://github.com/HCL-TECH-SOFTWARE/connections-autom

[2021-11-23 08:18] ukhare commented on #152
@arnaldovale could you please share the output of "kubectl get nodes"
Does it give the same node name on which ansible is trying to add label ?

[2021-11-23 08:43] stoeps13 commented on #152
The task is using `{{ inventory_hostname }}`, so it is important that the hostname in inventory is the same as in DNS.
https://stackoverflow.com/questions/45908067/whats-the-difference-between-inventory-hostname-and-ansible-hostname

[2021-11-23 11:53] stoeps13 opened #168 "Haproxy 2.4.0"
Hi,
the playbook compiles haproxy from sources and uses 2.4.0
So what's the advantage of 2.4.0 versus the one delivered with Red Hat 7 or 8?
Why not updating to the last available 2.4.8?
Regards
Christoph

[2021-11-23 11:54] stoeps13 opened #169 "Duplicate roles"
There is a role install-containerd and one install-docker
both install containerd from epel. This should be cleaned up.

[2021-11-30 06:21] stoeps13 commented on #168
The connections documentation says this repo is the recommended way to install Connections 7.

So I expect that no package with known vulnerability is installed or updated to the latest version.

https://www.cvedetails.com/vulnerability-list.php?vendor_id=11969&product_id=22372&version_id=489773&page=1&hasexp=0&opdos=0&opec=0&opov=0&opcsrf=0&opgpriv=0&opsqli=0&opxss=0&opdirt=0&opmemc=0&ophttprs=0&

[2021-12-01 13:48] arnaldovale commented on #152
Hi @ukhare. Here's the output:
![image](https://user-images.githubusercontent.com/67335382/144245204-f17a5424-1f13-42ab-91a8-0661019bf16b.png)
Yes. its with the same node name. on which ansible is trying to use.
@stoeps13 , attached is the inventory used. The hostname is the same and we have already tested name resolution in DNS
[inventory.txt](https://github.com/HCL-TECH-SOFTWARE/connections-auto

[2021-12-01 15:21] ukhare commented on #152
@arnaldovale did you try executing following commands manually ? If yes, pls share what is the output you are getting ?

kubectl label nodes cpack-server.internal.cloudapp.net type=infrastructure --overwrite

kubectl label nodes cpack-server type=infrastructure --overwrite

[2021-12-01 21:36] sabrina-yee commented on #169
The standalone containerd install role is in preparation to support installing from other registry without setting up a local docker registry for future release.

[2021-12-02 12:57] arnaldovale commented on #152
Hi @ukhare . The first one is failing... look the outputs:
![image](https://user-images.githubusercontent.com/67335382/144426401-ea3d4dc4-ec49-4ded-8f38-378053561bd8.png)

[2021-12-02 13:25] stoeps13 commented on #169
Thanks for the heads-up, without an up-to-date documentation or documentation within the roles it is impossible to find this out.
https://galaxy.ansible.com/docs/contributing/creating_role.html#role-metadata

[2021-12-02 13:26] stoeps13 commented on #152
What does `kubectl get nodes` show you?

[2021-12-02 13:33] ukhare commented on #152
Thats the issue. .. also as @stoeps13 also said in comment above.

your node is registered with wrong name. Please check why its not taking full name of the node or share here the output of the step when it creates node.
So we have now figured out the issue and lets try to find the cause and fix for you :)

[2021-12-02 14:28] arnaldovale commented on #152
Guys, where it supposed to be the k8_workers_infra group? In inventory.ini there is only the k8s_masters.
And yes, this is a single K8s environment. We're following the QuickStart script.

[2021-12-02 14:33] stoeps13 commented on #152
roles/third_party/kubernetes/taint-all-nodes/tasks/main.yml

Here the  if statement starts when the group name is not available. To be honest this shows me that this mono repo approach is a big mess and not possible to understand or support.

[2021-12-02 14:48] arnaldovale commented on #152
this is already done, take a look:

[k8s_masters]
cpack-server.internal.cloudapp.net

[k8s_workers]
cpack-server.internal.cloudapp.net

We have the full inventory attached here: https://github.com/HCL-TECH-SOFTWARE/connections-automation/issues/152#issuecomment-983658305

[2021-12-02 16:14] ukhare commented on #152
@arnaldovale Could you please share latest logs when you last time installed k8s on a completely clean VM. I was scrolling through previously shared logs but then realised that they belong to an env when k8s was not cleaned properly due to some issues.

EX: Log below said port already in use

TASK [setup-master-node : Initialize master for single node installation] ********************************

[2021-12-06 19:18] ukhare commented on #152
@arnaldovale
After getting python3 console, first you need to give below command to import "os" lib

ALSO try on you linx console below command to see what full hostname does it give

hostname -f

[2021-12-10 14:17] arnaldovale commented on #152
Hi @ukhare
Here's the output. Indeed, the hostname in the cpack server is being presented in the short format.
![image](https://user-images.githubusercontent.com/67335382/145587655-538ae5d7-ee75-47fd-903a-3224128ddaf1.png)
![image](https://user-images.githubusercontent.com/67335382/145587745-40e431e0-4bf3-4ca4-88e0-823b168c2ed4.png)

![image](https://user-images.githubusercontent.com/67335382/1455

[2021-12-10 14:20] stoeps13 commented on #152
Move the short hostname to the end of the line in /etc/hosts

On Fri, 10 Dec 2021, 15:17 Arnaldo, ***@***.***> wrote:

[2021-12-10 19:31] arnaldovale commented on #152
It's done. Should we try to run the script again as is?
![image](https://user-images.githubusercontent.com/67335382/145631024-d583c285-d771-4acc-95b0-9262ad88925f.png)

[2021-12-11 12:39] ukhare commented on #152
@arnaldovale

Yes, that was the issue behind not being able to find the node with full hostname.
it's done. Now you should clean everything and execute ansible from scratch.

[2021-12-13 20:52] ukhare commented on #152
@arnaldovale please close this issue if you have bypassed the error you were getting at this step.

[2021-12-21 14:39] arnaldovale commented on #152
@ukhare , the team has executed the cleanup script. Please, take a look at the result:
[ansible_result.txt](https://github.com/HCL-TECH-SOFTWARE/connections-automation/files/7756033/ansible_result.txt)

[2021-12-21 20:06] ukhare commented on #152
@arnaldovale looks good to me.
I also see in attached logs that your team has successfully created Kubernetes cluster and setup helm using Ansible.

Please feel free to close this issue as the existing issue has been resolved in your environment.

If there is any new issue, i would request you to create a separate issue to avoid any kind of confusion.

[2021-12-21 20:13] arnaldovale commented on #152
Closing this issue. Thanks team! @ukhare @stoeps13 @sabrina-yee @gyanenduprakash

[2021-12-21 20:13] #152 closed

[2022-01-25 11:39] stoeps13 opened #182 "Variables documentation"
Thanks for the new documentation about the used variables.

It looks like the last lines are duplicates, or not sorted into the right topic: https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/42b7ad04889cc27f5bc0e58fa7f853541df9326a/documentation/VARIABLES.md?plain=1#L360-L393

Regards
Christoph

[2022-01-26 09:06] stoeps13 opened #183 "Installation of DB2 fails, but playbook runs until the end"
Hi,
I test the installation with https://repo.almalinux.org/almalinux/8/cloud/x86_64/images/ the cloud images for Almalinux (binary compatible to RHEL).
It is comparable to a minimal installation.

I run the playbooks/setup-connections-complete.yml and one of the first tasks is the DB2 installation, which fails:
[code]
So the `strings` package (and some more) is missing, DB2 can't be installed, bu

[2022-01-26 14:23] stoeps13 commented on #183
I found the problem:
[code]
So there is a conditional which is only working for CentOS, RHEL and Amazon. Additionally, the pre-req script only selects RedHat distribution, but not CentOS or other RedHat Linux family members.

As Amazon is not on the supported List for Connections 7 and Almalinux or Rockylinux are binary compatible and perfect for testing deployments without using a RHEL license, I

[2022-01-26 14:52] stoeps13 opened #184 "Authconfig not found"
There are several tasks which shall disable fingerprinting:

[code]

This ends with:

[code]

On minimal installation the package `authselect-compat` is not installed. So if you want to use the command you should check that it is installed first.

I'm really curious why these tasks are included, as fingerprinting is only available when a fingerprint hardware is found. https://access.redhat.com/doc

[2022-01-26 14:58] stoeps13 opened #185 "SELinux rules"
Hi again,
on all Red Hat servers the SELinux is disabled after running the playbook connections-setup-complete.yml, but I see tons of SELinux rules added during the installation. So why are these rules added, when SELinux is disabled everywhere?

On the other side SElinux is the best prevention for container escapes, so at a minimum SELinux should be activated latest after the installation.

Regar

[2022-01-26 15:10] stoeps13 opened #186 "TDI install renames DB2 jdbc files in DB2 directory"
Why does the TDI installation rename files in DB2?

https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/d4dc1a04d57942cbe66c0e159c62357d0d40342e/roles/third_party/ibm/tdi-install/tasks/tdisol_install.yml#L93-L119

So the file is renamed in DB2/java folder and then copied to TDI. It never was necessary to do so, but it will break other things, because db2jcc.jar and db2cc4.jar are two

[2022-01-27 04:10] nitinjagjivan commented on #182
Hi @stoeps13,
Highlighted variables are needed in the 'cleanup variables' section as we are using it while running cleanup playbooks.

For e.g. db2_instance_fenced_homedir
This variable is used while running 'playbooks/hcl/cleanup/cleanup-db2.yml' playbook. We need this path to understand what is the fenced user home directory. So that this path can be used to clean up IBM db2 as a part of db2 cle

[2022-01-27 05:43] nitinjagjivan commented on #183
@stoeps13 Thank you for for the suggestion and for raising this issue. We will test it on multiple distributions and create a PR accordingly.
Regarding **'Installation of DB2 fails, but playbook runs until the end'** I will add [any_errors_fatal](https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#aborting-on-the-first-error-any-errors-fatal) and test it.

[2022-01-27 10:00] nitinjagjivan commented on #186
Thanks for raising this issue. It will be fixed in the next push.

[2022-01-27 12:52] stoeps13 commented on #182
Thanks @nitinjagjivan for the heads up,
I don't like the idea to edit the variables file to uninstall and then switch it back. I do similar operations with the usage of tags. So calling `ansible-playbook --tags uninstall` is uninstalling and tags=install is set to default. Then the variables file can stay the same.
I would only document the variables which are necessary for uninstallation, in my w

[2022-01-27 13:58] stoeps13 commented on #186
The documentation tells to copy db2jcc.jar, I need to doublecheck what DB2 installs, but I normally copy db2jcc.jar, db2jcc4.jar and the lic.jar

[2022-01-28 06:14] nitinjagjivan commented on #182
Thanks for the suggestion. Our team will think about this approach decide considering all other priorities.

[2022-01-28 06:34] nitinjagjivan commented on #186
Thanks for the PR https://github.com/HCL-TECH-SOFTWARE/connections-automation/pull/189.
I checked v11.1.4fp5_jdbc_sqlj.tar.gz where we have both the files(db2jcc4.jar and db2jcc.jar). But in v11.5.6fp5_jdbc_sqlj.tar.gz db2jcc.jar is not available. So depending on the availability we can copy db2jcc4.jar and/or  db2jcc.jar. I will update the code in Jan21 release. Code snippet -

`- name: "stat db2

[2022-01-31 04:13] nitinjagjivan commented on #186
Update- db2jcc.jar is deprecated so we are upgrading to the db2jcc4.jar driver.  db2jcc.jar won't be copied hereafter. link- https://www.ibm.com/support/pages/db2-jdbc-driver-versions-and-downloads

[code]

[2022-02-01 11:14] stoeps13 opened #191 "updateInstaller throws "Invalid version number: Version number may be negative or greater than 255""
Hi
I installed with the main branch from last Friday and wanted to uninstall the CFix, but get following error:
[code]
So the version 1.8.0_271 is counted as > 255, I got an update from Support for updateInstaller some weeks ago. So I assume that updateInstaller needs a fix.

Regards
Christoph

[2022-02-01 11:56] stoeps13 commented on #191
Reason for the error, the updateInstaller wasn't updated with the playbook I used. (trial environment) Will check if the playbook contains the update roles

[2022-02-01 12:05] #191 closed

[2022-02-02 15:24] sabrina-yee commented on #165
Addressed in Jan release.

[2022-02-02 15:24] #165 closed

[2022-02-16 16:05] sabrina-yee commented on #186
Addressed in Feb 2022 release.

[2022-02-16 16:05] #186 closed

[2022-02-16 16:05] #184 closed

[2022-02-16 16:17] #183 closed

[2022-02-21 14:15] sabrina-yee commented on #185
Adding a ticket to the internal backlog to prioritize and investigate.

[2022-02-21 14:16] sabrina-yee commented on #168
Addressed in PR #197.

[2022-03-03 18:04] arnaldovale opened #198 "TASK [component-pack : Wait for bootstrap to come up"
We have installed Connections 7 with CP, using the quickstart scripts.
After installing, we have not been able to access the orient me page, although connections is running apparently fine.
All pods seem to be running in the CP kubernetes.
This is the output if we run the playbook "setup component pack""
[ansible_issue30322.txt](https://github.com/HCL-TECH-SOFTWARE/connections-automation/files/817

[2022-03-03 18:17] sabrina-yee commented on #198
Hi @arnaldovale, the ansible log fails at the bootstrap part which is quite early in the CP deployment process so at this point only a small amount of CP pods has been installed.  You can check by running:
`kubectl -n connections get pods`

I'd suggest to check the bootstrap log for errors:
`kubectl -n connections logs -f $(kubectl -n connections get pods | grep bootstrap | awk {'print $1'})`

[2022-03-07 20:18] arnaldovale commented on #198
Hi. These are the outputs for the commands
[command1.txt](https://github.com/HCL-TECH-SOFTWARE/connections-automation/files/8200571/command1.txt)
[command2.txt](https://github.com/HCL-TECH-SOFTWARE/connections-automation/files/8200573/command2.txt)

[2022-03-07 23:45] sabrina-yee commented on #198
At the end of command2.txt it says:
`Attempting to configure cnx-server.internal.cloudapp.net with Redis using master ip: proxy-server.internal.cloudapp.net`
`curl: (6) Could not resolve host: cnx-server.internal.cloudapp.net`

Please check if the Connections server is reachable at `https://cnx-server.internal.cloudapp.net`.

[2022-03-16 10:57] stoeps13 opened #200 "Elasticstack 7 not working after install"
Hi,
I tried to install Elasticstack 7 today and set the vaiable `setup_elasticstack7=true` in my variables file.

The pods are not starting:
[code]

`kubectl describe pod -l app=kibana-7`
[code]

There is still a helmchart for elasticstack available, but the created pods do not work, because the container images are missing. Even fixing the image name will not help. So I checked the documentation

[2022-03-18 20:31] sabrina-yee commented on #200
Thanks for reporting the issue @stoeps13.  I understand that a case has been opened for this.  We'll follow up to address this.

[2022-03-18 20:35] stoeps13 commented on #200
Yes I opened a case too, because documentation mentions that it is possible to install, but not how.

I thought the playbook does the trick, but it just runs the helm chart and the images are missing.

Thanks!

Christoph

[2022-03-22 17:20] arnaldovale commented on #198
Hi. The operator has done this test:
![image](https://user-images.githubusercontent.com/67335382/159538339-06268498-096d-4bd2-b649-4ffce5ccc0d7.png)

Is this enough to test it?

[2022-03-22 17:44] stoeps13 commented on #198
But Redis is accessing Connections from within Kubernetes. Kubernetes is using DNS (kube-dns) and ignores /etc/hosts, so when you test this, please do this from within the Redis Pod:

[code]

Ping does a DNS lookup and shows the right IP. curl is not installed in the Redis pods and ping not running, because it runs as non-root. For a name lookup test, this should be fine.

[2022-04-01 19:18] arnaldovale commented on #198
Hi, This is the output for the ping command within the Redis pod
![image](https://user-images.githubusercontent.com/67335382/161327788-a08f7643-74cd-4dde-affe-1345efdd5902.png)

[2022-04-01 22:45] sabrina-yee commented on #198
Nothing jumps out yet.  I took another look at the files included so far, since the output of `kubectl -n connections get pods` ([command1.txt](https://github.com/HCL-TECH-SOFTWARE/connections-automation/files/8200571/command1.txt)) returned already running Connections pods, I believe this is an upgrade scenario and bootstrap-rbtrt failed.

Since it worked at the initial deployment, connectivity m

[2022-05-05 15:00] matteobisi opened #203 "WebSphere toolbox should be ugpraded to fp21 like other websphere component."
Hello, during this days I'm using this playbooks to install an environment and while I was installed  a multi node installation of Connections with the setup-connections-only.yml I run into a fail after connections install.

the os is Red Hat Enterprise Linux release 8.5 (Ootpa)

[code]

after some verification I saw the issue was into the java embedded to the WAS toolbox that wasn't running causi

[2022-05-17 18:48] sabrina-yee commented on #198
Hi @arnaldovale, the nature of the issue does not seem to be specific to the deployment automation so I'd recommend to create a support ticket so we can work together to troubleshoot the issue and get on a remote session if needed.  Thanks.

[2022-05-18 15:20] sabrina-yee commented on #198
Yes, that's right, thanks!

[2022-06-29 07:11] stoeps13 opened #208 "DB2 package name variable not working"
Hi,
the variables documentation says that the db2 package name can be set with `db2_package_name:`
https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/d8c5d807be391ef0703ebe5d704dbc79d5f01c5d/documentation/VARIABLES.md?plain=1#L70

But the variables in the db2 installation role, just decide dependent on the variable `install_latest_db2`
https://github.com/HCL-TECH-SOFTWARE/connections

[2022-06-29 23:03] nbajjuri-hcl commented on #200
@stoeps13 We have a new release of Elasticstack7 helm chart that works as expected. The old one is buggy (do not use it). How would i deliver to you ? You said case was opened.. Do you have case # in reference ? Please share.

[2022-06-30 03:39] nitinjagjivan commented on #208
Hi @stoeps13,

If user specifies a value for db2_package_name in the inventory then that value will be assigned to the ['__package_name'](https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/8521ea7754c4cadf83e6e1111ab2069331414be0/roles/third_party/ibm/db2-install/vars/main.yml#L14).

The scenario which you described in the above issue is applicable only when user doesn't set 'db2_pac

[2022-06-30 03:41] stoeps13 commented on #200
Hi,
I already got the files in the case. Will test today.
Will you update the ansible roles to include the update?
Regards
Christoph

[2022-06-30 03:44] stoeps13 commented on #208
Hi,

Would you mind to point me to the definition, where this should happen?

Regards
Christoph

[2022-06-30 04:39] nbajjuri-hcl commented on #200
@stoeps13 Since it is not default, it's customers option to change if they want to install.

[2022-06-30 04:42] stoeps13 commented on #200
When you enable Elastickstack in your variables, the project installs the default helm chart, which ends in errors, because of the missing images.

I would expect a working deployment when I use these scripts.

[2022-06-30 04:58] nitinjagjivan commented on #208
There is a link in my comment. Let me add it here-
https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/8521ea7754c4cadf83e6e1111ab2069331414be0/roles/third_party/ibm/db2-install/vars/main.yml#L14

[2022-06-30 05:08] #208 closed

[2022-06-30 05:09] stoeps13 commented on #208
Sorry @nitinjagjivan I looked into the wrong line. You're right it grabs from db2_package_name

[2022-06-30 06:11] nbajjuri-hcl commented on #200
@stoeps13 Can you replace the default chart with the latest one in the ExtractedFolder ? I will ask my team if we can release another version of Component Pack zip with inclusion of updated ELK7 helm chart.

[2022-06-30 06:23] nbajjuri-hcl commented on #200
@stoeps13 Forgot to mention in the case update, Elasticstack7 version is 7.10.1 which requires the Elasticsearch v7.10.1. The Elasticversion 7.10.1 is available on HCL's FlexNet site. The Elasticsearch release is 7.6.1 in the Component Pack zip (7.0.0.2) which was released with CNX v7.0.

[2022-06-30 06:25] stoeps13 commented on #200
It works with the 7.6.1 ES installation, but I know of the update.
Same here, there should be an option to deploy container updates automatically. (Like the other tools after download from flexnet).

[2022-07-25 09:24] stoeps13 commented on #200
Nice to have the Kibana 7 config in nginx now, but the helm chart and image is not available on Flexnet for download. Additionally the automation script does not install them (or push the image to registry), the updated Elasticsearch images and charts
![image](https://user-images.githubusercontent.com/1975258/180744053-c42d688e-1db1-4d4c-9448-2f6287b6413c.png)
are not installed at all (and are req

[2022-07-25 12:15] sabrina-yee commented on #200
Yes, the delivery of Component Pack updates is not part of the scope of this repo.  It expects they are delivered via the official channel and loaded to the registry prior to running the script.

[2022-07-25 12:17] stoeps13 commented on #200
Even loaded to the registry would not help, as the tags are different and the helm charts in Cp7.0.0.2 just deploy the pods from May 2021. So even after uploading to the registry, a new image does not get used.

[2022-07-25 13:19] sabrina-yee commented on #200
Our Support team is working on addressing this.

[2022-08-15 12:37] stoeps13 opened #212 "Upgrade TDI to Java8"
I tried to update TDI to Java 8, but the used package default name can't be found anywhere.

https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/64b6dd9c6e5589cae05fb61b7dca715ecd09b779/roles/third_party/ibm/tdi-install/vars/main.yml#L12

I checked IBM and Flexnet for this file, but I can't find it. Any hint where I can find this package?

Thanks
Christoph

[2022-08-15 13:59] sabrina-yee commented on #212
It's on FlexNet named `Service Refresh 6 Fix Pack 25 for IBM Java Runtime Technology version 8.0 - Linux` in the `HCL_Connections_7.0` list.  I see a newer version is used there `ibm-java-jre-8.0-6.25-linux-x86_64.tgz` so please override the var.  We'll adjust in the next push.

[2022-08-16 08:06] stoeps13 commented on #212
Thanks @sabrina-yee, found the package in Connections 7.0 Folder, I searched in 7.0-Upates.

[2022-08-16 08:06] #212 closed

[2022-09-02 13:10] #203 closed

[2022-09-19 15:48] stoeps13 opened #214 "Share to MS Teams JS in wrong path"
I deployed the Teams integration with the project and found that the icon to share is not loading.

Reason:

Files in pv-connections/customizations

[code]

File path in Customizer:

[code]

So the file wants to load `ms-teams/teamsshare`, but the file is stored in `ms-teams/customizations/ms-teams/teamsshare/`

Regards
Christoph

[2022-09-19 22:01] sabrina-yee commented on #214
Thanks @stoeps13.  I've updated the path to copy over from the extracted CP location.

[2022-09-20 03:36] stoeps13 commented on #214
I haven't tested your fix @sabrina-yee, but I bet there are 3 ms-teams folder in customizations now.

I would change here: https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/main/roles/hcl/component-pack/tasks/setup_ms_teams_extensions.yml#L58

[2022-09-20 14:10] sabrina-yee commented on #214
@stoeps13 the intention is to align with the original [json](https://github.com/HCL-TECH-SOFTWARE/connections-samples/blob/main/customizer/samples/microsoft-teams/Share%20to%20Teams/ms-teams-share.json) as much as possible.  This is the `/pv-connections/customizations` structure after I ran the change:

[code]

[2022-09-20 14:29] stoeps13 commented on #214
Ok, will try. Thanks

[2022-09-26 13:11] #214 closed

[2022-09-26 13:11] stoeps13 commented on #214
Double checked, the change fixes the issue.

[2022-10-17 13:14] stoeps13 opened #216 "Scaling pods on environments with more than 3 nodes"
Hi,
the script https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/8521ea7754c4cadf83e6e1111ab2069331414be0/roles/hcl/component-pack/tasks/scale_component_pack.yml#L5 scales all pods on the number of nodes configured in the Kubernetes cluster, so when you have more than three nodes, it scales to 4, 5, ... pods per deployment.

The persistent volume script always creates hard coded 3 P

[2022-10-18 14:07] sabrina-yee commented on #216
Thanks for the suggestion @stoeps13, we've created an internal ticket for this to work on both the Ansible scripting front and the product chart to create PV / PVC.

[2022-11-02 08:41] stoeps13 opened #221 "Kubernetes 1.24: kubeadmin config wrong api version"
kubeadmin 1.24+ uses `apiVersion: kubeadm.k8s.io/v1beta3` instead of `apiVersion: kubeadm.k8s.io/v1beta2`

So the ` kubeadmin init fails`

[2022-11-02 08:46] stoeps13 opened #222 "Harbor: docker_registry_url"
The setup creates the entry for ` "insecure-registries": ["{{ docker_registry_url }}"],`, but then the docker service is not starting.

Error message:

[code]

This should be replaced with `"insecure-registries": ["{{ docker_registry_url.split('/')[0] }}"],` that just the hostname is set to insecure-registries. Then docker service can be started.

On the other side, I want to discuss this setting

[2022-11-02 08:52] stoeps13 opened #223 "kubeadm 1.24 init fails"
The role creates `/etc/containerd/config.toml` with the command `containerd config default` but then the command `kubeadmin init` falis.

Error message:
[code]
This article https://stackoverflow.com/questions/49658051/kubeadm-join-unable-to-check-if-the-container-runtime says delete the config.toml.

Deleting the config.toml and restarting containerd fixes this, but I'm not sure if this has side e

[2022-11-02 12:44] stoeps13 opened #224 "mongodb5 image not available"
Hi,
got this link from support https://opensource.hcltechsw.com/connections-doc/admin/install/installing_mongodb_5_for_component_pack_8.html?h=mongo after I mentioned that the image is not available on Harbor.
The steps are not built in the roles/playbooks. And the repository to build the container is not available at GitHub too.
Regards
Christoph

[2022-11-02 17:29] stoeps13 commented on #17
@sabrina-yee I think this is a really important topic. Most of our Enterprise customer do not allow installing as `root`, so even my workaround until now to run a script in the end to move the user to something non-root is not possible. Even doing sudo in such environment is not allowed. Until now we deploy manually or with handcrafted bash scripts, so I know it is possible.

These customers provi

[2022-11-02 19:48] sabrina-yee commented on #17
Hi Christoph, if I understand correctly, you're referring to this [instructions](https://help.hcltechsw.com/connections/v7/admin/install/t_non-root_install.html) to manually install as non-root?  The main reason it's not automated yet is more about which part of the repo we're investing resource to develop/maintain wrt our deployment needs.

Beyond that, I'd imagine in the future to invest in thin

[2022-11-02 19:53] stoeps13 commented on #17
you're right, if I can select then the modular approach is more important, because then it is easier to build exceptions for these environments.

[2022-11-03 14:13] sabrina-yee commented on #221
@stoeps13 what is the Kubernetes version set in your all.yml for `kubernetes_version`?  We use `1.24.1` as the default so want to use what you set to attempt to reproduce the issue.  Thanks.

[2022-11-03 14:35] stoeps13 commented on #221
@sabrina-yee I haven't set a version, it uses the default 1.24.1

I tried manually with the generated config.yaml it shows wrong api version.

[2022-11-03 15:44] sabrina-yee commented on #222
Hi @stoeps13, a change has been pushed to make `insecure-registries` configurable.
With Harbor, Docker is not needed to deploy the Component Pack so it's not a supported use case of this repo, but this change should provide flexibility to address the issue described.

[2022-11-09 23:34] sabrina-yee commented on #221
@stoeps13 we ran into this issue today along with issue #223.  The problem in our case is that containerd was installed as part of docker (via the `setup-docker-registry.yml` playbook) rather than using `setup-containerd.yml` from `setup-component-pack-complete-harbor.yml`.  The docker one creates a different `/etc/containerd/config.toml` with this line in it:

`﻿disabled_plugins = ["cri"]`

that

[2022-11-10 19:54] stoeps13 commented on #221
Hi Sabrina,
I found the issue too. There is a new playbook named https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/main/playbooks/setup-component-pack-complete-harbor.yml, I did the first try with the old playbook which fails with the described errors.
Regards
Christoph

[2022-11-11 05:20] stoeps13 opened #226 "Needed packages for Connections 8"
Hi
The readme shows

[code]
I see no updateInstaller.zip for Version 8 on Flexnet. The size shown here is different to 7. Is this package needed?

Regards
Christoph

[2022-11-11 06:39] stoeps13 opened #227 "Why do we need nfs-server running on Docs servers?"
This enables and starts nfs server on conversion, docs and viewer servers, but all shares are created on the nfs servere configured in inventory. As this sometimes fails and there is nothing in /etc/exports, why do we need the nfs server here?

https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/c478e6f05b6942bba71d3a04852b853e6ace594e/roles/third_party/nfs-install/tasks/main.yml#L12

[2022-11-11 06:42] stoeps13 opened #228 "Check if master is already initialized"
The check greps for 'master', but installed Kubernetes 1.24 shows just control-plane, so this check fails, even when the master is already initialized.

https://github.com/HCL-TECH-SOFTWARE/connections-automation/blob/4871474b92333cefdaadfb1a3e48263f216d54a6/roles/third_party/kubernetes/setup-master-node/tasks/init_master_latest.yml#L2

[2022-11-11 13:19] stoeps13 opened #229 "Default containerd version 1.4.x is quite old"
The default containerd version is about 2 years old. Kubernetes 1.24.1 is tested with 1.6.4, this should be updated.

Regards
Christoph

[2022-11-14 16:10] sabrina-yee commented on #226
This package is not needed for now.  We'll remove it from the doc.  Thanks.

[2022-11-14 16:11] #221 closed

[2022-11-14 16:14] sabrina-yee commented on #223
Issue was related to https://github.com/HCL-TECH-SOFTWARE/connections-automation/issues/221.  Using the new playbook will address this issue.

[2022-11-14 16:14] #223 closed

[2022-11-14 16:15] sabrina-yee commented on #229
Duly noted, we're working on upgrade it.

[2022-11-14 16:49] sabrina-yee commented on #227
It's meant to setup NFS client in conversion_servers, docs_servers and viewer_servers but I can see `configure_clients.yml` starts `nfs-server` instead of `nfs-client` hence your point here.  Need to look into this.

[2022-11-15 20:20] sabrina-yee commented on #228
Just submitted a fix.

[2022-11-15 20:20] #228 closed

[2022-11-15 20:20] sabrina-yee commented on #226
Just removed it from doc.

[2022-11-15 20:20] #226 closed

[2022-11-15 20:22] #224 closed

[2022-11-15 20:26] sabrina-yee commented on #222
PR #225 now allows configurable `insecure-registries`

[2022-11-15 20:26] #222 closed

[2022-11-15 20:33] stoeps13 commented on #224
Yes, but I see no role or task to build the image. Is this a manual task?

[2022-11-15 21:31] stoeps13 opened #231 "mongodb5 role breaks infrastructure helm chart deployment"
Yes, but I see no role or task to build the image. Is this a manual task?

_Originally posted by @stoeps13 in https://github.com/HCL-TECH-SOFTWARE/connections-automation/issues/224#issuecomment-1315831888_

Why is there no role to build the image? Until the image is available, the infrastructure helm chart deployment fails, because it waits that mongo5 is available.

[2022-11-15 21:34] stoeps13 opened #232 "Role names contain dashes"
Role names shouldn't use dashes, this will create issues when they are added to collections.

https://galaxy.ansible.com/docs/contributing/creating_role.html#role-names

[2022-11-15 22:06] sabrina-yee commented on #224
yes, building MongoDB is a manual task.

[2022-11-15 22:10] stoeps13 commented on #224
Can you explain the reason why this is not automated?

Then the infrastructure helm chart should get a wait message and not just fail.

[2022-11-16 20:52] sabrina-yee commented on #231
We have a separate process internally so building Mongo is not part of our deployment automation (i.e. this repo).  Having said that, you're right that until the image is available, the infrastructure helm chart deployment will fail so updated the documentation to clarify that.  Thanks.

[2022-11-19 08:05] stoeps13 commented on #229
Just as an update. Kubernetes 1.24 needs at least 1.5.11 or 1.6.4.
https://containerd.io/releases/#kubernetes-support

The used 1.4 is out of life since March 2022.

[2022-11-19 08:08] stoeps13 commented on #231
The documentation says this project is the recommended way to install Connections, your answer sound like it is a side project of the internal development environments.

I will work on a role to build the image,  inserting a manual step in the middle of the deployment is against everything I know on IAC and Devops.

[2022-11-19 08:08] #231 closed

[2022-11-19 08:10] stoeps13 commented on #144
Mostly fixed

[2022-11-19 08:10] #144 closed